BOT_TOKEN=YOUR_BOT_TOKEN

ADMIN_IDS=123456789

KICK_URL=https://kick.com/underd0gg

YOUTUBE_SHORT_1=https://youtube.com/shorts/XXXXXXXX
YOUTUBE_SHORT_2=https://youtube.com/shorts/YYYYYYYY

TIKTOK_1=https://tiktok.com/@underd0gg/video/111111
TIKTOK_2=https://tiktok.com/@underd0gg/video/222222
