*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#050505;
    color:white;
    overflow-x:hidden;
}

.background{
    position:fixed;
    inset:0;
    background:
    radial-gradient(circle at center,#300000 0%,#120000 40%,#050505 80%);
    z-index:-3;
}

.background::before{
    content:"";
    position:absolute;
    inset:0;
    background-image:
    linear-gradient(rgba(255,0,0,.05) 1px,transparent 1px),
    linear-gradient(90deg,rgba(255,0,0,.05) 1px,transparent 1px);
    background-size:40px 40px;
}

.scanline{
    position:fixed;
    inset:0;
    background:repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 3px,
        rgba(255,0,0,.03) 4px
    );
    pointer-events:none;
    animation:scan 6s linear infinite;
}

@keyframes scan{
    from{transform:translateY(-100%);}
    to{transform:translateY(100%);}
}

.container{
    width:92%;
    max-width:420px;
    margin:auto;
    padding:25px 0 40px;
}

.stream-status{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    border:1px solid rgba(255,0,0,.5);
    border-radius:18px;
    padding:16px;
    background:rgba(40,0,0,.4);
    box-shadow:0 0 20px rgba(255,0,0,.15);
}

.dot{
    width:14px;
    height:14px;
    border-radius:50%;
    background:#ff0000;
    box-shadow:0 0 15px red;
}

.state{
    color:#ff4040;
    font-weight:bold;
}

.logo{
    margin-top:40px;
    text-align:center;
    font-size:64px;
    letter-spacing:3px;
    color:white;
    text-shadow:
    0 0 10px red,
    0 0 20px red,
    0 0 35px red;
}

.slogan{
    text-align:center;
    margin:20px 0 30px;
    color:#bdbdbd;
    letter-spacing:5px;
    line-height:1.8;
}

.hood{
    display:flex;
    justify-content:center;
    margin-bottom:35px;
}

.hood img{
    width:240px;
    filter:
    drop-shadow(0 0 20px red)
    drop-shadow(0 0 45px rgba(255,0,0,.5));
}

.menu-btn{
    width:100%;
    margin:16px 0;
    padding:20px;
    background:#111;
    color:white;
    border:1px solid rgba(255,0,0,.4);
    border-radius:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 0 18px rgba(255,0,0,.12);
}

.menu-btn:hover{
    transform:translateY(-3px);
    border-color:red;
    box-shadow:
    0 0 15px red,
    0 0 35px rgba(255,0,0,.4);
}

.menu-btn span{
    font-size:28px;
    color:red;
}

.footer{
    margin-top:45px;
    text-align:center;
    color:#aa0000;
    letter-spacing:4px;
    font-size:13px;
}
